/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/05/2020, 07:41:13 PM
    Author     : maste
*/

*{
    padding: 0;
    margin: 0;
}
.boton_link{
    border-radius: 20px;
}
a{
    text-decoration: none;
    padding: 0;
}
li{
    float: left;
}
.carrito{
    list-style-image: url(../img/)
}

img{
    max-width: 100%;
}

main{
    margin-top: 0.5rem;
}

.centrar-derecha{
    justify-content:flex-end;
    align-items: center;
}

.centrar{
    align-items: center;
}

nav ul li{
    margin-right: 0.2rem;
}

a .col-md-2 img{
    padding-left: 0;
}